@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    background-color: black;
    scroll-behavior: smooth !important;
  }  

  [data-testid="rk-connect-button"] {
    background-color: rgba(0, 0, 0, 0.7) !important;
    display: flex !important; 
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid #FF284C !important;
    border-radius: 8px !important;
    color: #FF284C !important;
    padding: 26px 26px 26px 26px !important;
    /* height: 56px !important; */
    font-weight: normal !important;
  }

  [data-testid="rk-connect-button"]:hover {
    background-color: #FF284C !important;
    border: 1px solid #FF284C !important;
    border-radius: 8px !important;
    color: black !important;
  }

  
  [data-testid="flowbite-tooltip"], [data-testid="flowbite-tooltip-arrow"] {
    background-color: black !important;
  }

  [data-testid="flowbite-tooltip"] {
    border: 1px solid #FF284C;
    
  }
  [data-testid="flowbite-tooltip-arrow"] {
    border-bottom: 1px solid #FF284C;
    border-right: 1px solid #FF284C;
  }

}

.custom-overlay {
  background-color: rgba(0, 0, 0, 0.6) !important; /* 40% opacity */
}

.sp-button:focus {
  opacity: 0.9 !important;
}

.text-border {
  box-shadow:  0 0 1em gold, 0 0 1em red;
}

.carousel-status {
  padding: 2px 10px !important;
  /* border: 1px solid #FF284C !important; */
  border-radius: 4px;
  color: white !important;
  /* box-shadow: none !important; */
  text-shadow: none !important;
  font-size: 13px !important;
  top: 30px !important;
  right: 8px !important;

}

.control-dots {
  top: 20px;
  /* right: 0px; */
}

.control-dots li {
  margin: 0 5px !important;
}

.dot {
  background-color: red !important;
}


